<% if !params[:category].blank? %>
  <% @items = Item.where(category: params[:category]) %>
<% end %>

<div id="our-new-item"></div>

<div id="our-show-item"></div>


<%= link_to "Create a New Item", new_item_path, method: "get"%></br>
<%= link_to "Return to Lists", user_lists_path, method: "get"%>

<!-- Item.all.where(category: 'Meat') to select specific category for select drop down -->